VITE_APPWRITE_URL="TRACIIO_URL"
VITE_APPWRITE_PROJECT_ID="TRACCIO_PROJECT_ID"
VITE_APPWRITE_DATABASE_ID="TRACCIO_DATABASE_ID"
VITE_APPWRITE_COLLECTION_ID="TRACCIO_COLLECTION_ID"
VITE_APPWRITE_BUCKET_ID="TRACCIO_BUCKET_ID"